<div class="item type">{{transaction.type.label}}</div>
<div class="item label">{{transaction.label}}</div>
<div class="item amount">{{format-currency transaction.amount}}</div>
<div class="item date">{{format-date transaction.date}}</div>
<div class="item amount">{{format-currency transaction.rolling}}</div>